::-webkit-scrollbar {
	width: 10px;
	height: 10px
}

::-webkit-scrollbar-track {
	background: #25282e
}

::-webkit-scrollbar-thumb {
	background: #3d4045
}

::-webkit-scrollbar-thumb:hover {
	background: #55585c
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}

body {
	background-color: #0d1117;
}

.title-cards {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	font-size: 2rem;
	color: #fff;
}

.title-cards p {
	font-size: 1.5rem;
	color: #8c8c8c;
}

.container-card {
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}

.card {
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #161b22;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	cursor: default;
}

.card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	transform: translateY(-3%);
}

.card img {
	width: 100%;
	padding: 1rem;
}

.card .card-content {
	padding: 15px;
	text-align: center;
}

.card .card-content h3 {
	margin-bottom: 15px;
	color: #8c8c8c;
}

.card .card-content p {
	line-height: 1.8;
	color: #bdbdbd;
	font-size: 14px;
	margin-bottom: 5px;
}

.card .card-content a {
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #6f42c1;
	border: 1px solid #6f42c1;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}

.card .card-content a:hover {
	background: #6f42c1;
	color: #161b22;
}

@media only screen and (min-width:320px) and (max-width:768px) {
	.container-card {
		flex-wrap: wrap;
	}

	.card {
		margin: 15px;
	}
}